<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.rawgit.com/designmodo/Flat-UI/master/dist/css/vendor/bootstrap.min.css" rel="stylesheet"
          th:fragment="bootstrap_css"/>
    <link href="https://cdn.rawgit.com/designmodo/Flat-UI/master/dist/css/flat-ui.min.css" rel="stylesheet"
          th:fragment="bootstrap_theme_css"/>
</head>
<body>
<script src="https://code.jquery.com/jquery-2.1.3.min.js" th:fragment="jquery"/>
<script src="https://cdn.rawgit.com/designmodo/Flat-UI/master/dist/js/flat-ui.min.js" th:fragment="bootstrap_js"/>
</body>
</html>